<div class="container my-3">
<h1><%= @flat.name %></h1>

<p><%=@flat.address %></p>
<p><%=@flat.description %></p>
<p>$<%=@flat.price_per_night %> per night</p>
<p>For <%=@flat.number_of_guests %> people</p>
</div>